@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --g1: rgba(219, 240, 238, 0.801);
  --g2: rgb(246, 245, 231);
  --g3: rgb(246, 245, 231);
  /*  another blue */
  /* rgb(151, 224, 218); */
  /* --linkColor: #52bbc8; */
  /* --linkColor: #0000EE; */
  /* --linkColor: #3b82f6; */
  /* --navbarLinkColor: #3b82f6; */
  --linkColor: #36899c;
  --navbarLinkColor: #36899c;
  --navbarBgColor: rgba(236, 233, 219, 0.95);
  --textColor: rgba(7, 18, 18, 1);
  --tableHeaderBgColor: #1d185f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --g1: rgb(22, 29, 82);
    --g2: rgb(38, 34, 34);
    --g3: rgb(22, 29, 82);
    /* --linkColor: #67e8f9; */
    /* --navbarLinkColor: #3b82f6; */
    --navbarBgColor: rgba(15, 15, 17, 0.96);
    --textColor: rgba(247, 247, 247, 1);
  }
  html {
    color-scheme: dark;
  }
  body {
    background: var(--navbarBgColor);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: --webkit-fill-available;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hey Gorgeous';
  src: url('../fonts/HeyGorgeous.woff2') format('woff2'),
      url('../fonts/HeyGorgeous.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShinGoProBold';
  src: url('../fonts/ATTFShinGoProBold.woff2') format('woff2'),
      url('../fonts/ATTFShinGoProBold.woff') format('woff');
}

@font-face {
  font-family: 'ShinGoProUltra';
  src: url('../fonts/ATTFShinGoProUltra.woff2') format('woff2'),
      url('../fonts/ATTFShinGoProUltra.woff') format('woff');
}