@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --g1: rgb(50, 116, 85);
  --g2: rgb(74, 13, 115);
  --g3: rgb(50, 116, 85);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @font-face {
  font-family: heygorgeous;
  src: local('heygorgeous'), url(../fonts/heygorgeous.ttf) format(truetype);
} */

@font-face {
  font-family: 'Hey Gorgeous';
  src: url('../fonts/HeyGorgeous.woff2') format('woff2'),
      url('../fonts/HeyGorgeous.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(16, 16, 16);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: rgb(243, 243, 243);
  }
} */
