@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --g1: hsl(359, 89%, 75%);
  --g2: hsl(179, 49%, 75%);
  --g3: hsl(359, 89%, 75%);
  --linkColor: hsl(359, 89%, 65%);
  --navbarLinkColor: hsl(359, 89%, 65%);
  --navbarBgColor: hsl(240, 3%, 95%);
  --textColor: rgba(7, 18, 18, 1);
  --tableHeaderBgColor: #1d185f;
  --tileColor: hsl(210, 3%, 96%);
  --readableBackgroundColor: hsl(210, 3%, 96%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --g1: hsl(359, 49%, 20%);
    --g2: hsl(179, 49%, 20%);
    --g3: hsl(359, 49%, 20%);
    --linkColor: hsl(179, 89%, 65%);
    /* --navbarLinkColor: hsl(179, 89%, 65%); */
    --navbarLinkColor: hsl(359, 89%, 65%);
    --navbarBgColor: rgba(15, 15, 17, 0.96);
    --textColor: rgba(247, 247, 247, 1);
    --tileColor: hsl(240, 11%, 10%);
    --readableBackgroundColor: hsl(240, 11%, 10%);
  }
  html {
    color-scheme: dark;
  }
  body {
    background: var(--navbarBgColor);
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  /*overflow-x: hidden;*/
  min-height: 100vh;
  min-height: --webkit-fill-available;
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hey Gorgeous';
  src: url('../fonts/HeyGorgeous.woff2') format('woff2'),
      url('../fonts/HeyGorgeous.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShinGoProBold';
  src: url('../fonts/ATTFShinGoProBold.woff2') format('woff2'),
      url('../fonts/ATTFShinGoProBold.woff') format('woff');
}

@font-face {
  font-family: 'ShinGoProUltra';
  src: url('../fonts/ATTFShinGoProUltra.woff2') format('woff2'),
      url('../fonts/ATTFShinGoProUltra.woff') format('woff');
}
