
/* 
Tiles Background
*/
.tiles {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.tile:before {
  background-color: rgb(8, 9, 11);
  content: "";
  position: absolute;
  inset: 0.5px;
}

.tile {
  /* outline: 1px solid white; */
  /* background-color: rgb(8, 9, 11); */
  position: relative;
}




.content_edges {
  z-index: 1;
  max-width: 1200px;
  margin: auto;
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 900px; */
}


.player_page_stats {
  padding: 1rem;
  margin: 1rem;
  border: #eaeaea;
  border-radius: 1.5rem;
  border-width: 2px;
  border-style: solid;
  background-color: #050606;
  font-size: 1.5rem;
}

.navdropdown {
  color: #eaeaea;
  font-size: 2rem;
  z-index: 11;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: #eaeaea solid;
  border-width: 2px;
  border-radius: 20px;
  width: 20rem;
  top: 60px;
  right: 5px;
  overflow: hidden;
  background-color: rgba(8, 15, 34, 0.9)
}


.navbar_wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  background-color: rgb(26, 29, 36);
  /* background-color: rgb(255, 195, 14); */
  /* justify-content: center; */
  min-width: 100%;
  top: 0;
  background-size: 100%;
  font-size: xx-large;
  z-index: 2;
  position: sticky;
  justify-content: space-between;
}

.navitemwrapper2 {
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  color: white;
}

.navitemwrapper {
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
}

/* hamburger menu */
.navitem3 { 
  padding-right: 1rem;
  /* padding-left: 1rem; */
  /* padding-top: 0.5rem; */
  padding-bottom: -1rem;
  color: white;
}

.navitem3:hover,
.navitem3:focus,
.navitem3:active {
  border-color: #eaeaea;
  color: #67e8f9;
  cursor: pointer;
}

/* normal nav items */
.navitem {
  padding-right: 1rem;
  padding-left: 1rem;
  /* padding-top: 0.5rem; */
  color: white;
  /* display: flex; */
  /* flex: 1; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-end; */
}

.navitem:hover,
.navitem:focus {
  border-color: #eaeaea;
  color: #67e8f9;
  cursor: pointer;
}

.navitem:active {
  color:#52bbc8;
}

/* 200cc lounge title in navbar */
.navitem2 {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: white;
  font-family: 'Hey Gorgeous';
  font-size: 20px;
  padding-top: 0.6rem;
  /* justify-content: flex-start; */
  /* display: flex; */
  /* flex: 1; */
  /* flex-wrap: wrap; */
}

@keyframes tier_title_ani {
  from {transform: translate(0%);}
  to {transform: translate(100%);}

}

.tier_title {
  font-family: 'Hey Gorgeous';
  margin: 0;
  line-height: 1.35;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  margin: 4rem;
  /* border: 2px solid; */
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.tier_title_background {
  padding: 2rem;
  border: 10px hidden;
  border-radius: 40px;
  /* a = alpha */
  background-color: rgba(26, 60, 102, 0.5);
  background-image: radial-gradient(#C1E7FF 5%, transparent 11%),
  radial-gradient(#687D8A 5%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
  animation: tier_title_ani 4s linear infinite;
  /* animation-timing-function: cubic-bezier(.26, .13, .24, 1.2); */
  /* animation-fill-mode: forwards; */
}

.records_table {
  padding: 1rem;
  margin: auto; /* this good */
  margin-top: 0; /* this good */
  max-width: 100%; /* combination of all three gives me whaat i want */
}


.tableheader {
  /* color:#fafafa; */
  font-weight: 800;
  font-size: large;
  /* background-color: #1d185f; */
}

.cool_column {
  color:#fafafa;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large
}

.leaderboard_style {
  align-items: center;
}

.leaderboard_text {
  color:#fafafa;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  /* align-items: center; */
  /* margin:auto; */
  /* width: 20%; */
  font-weight: bold;
}

/* .container {
  padding: 0 2rem;
  margin: auto;
  position: relative;
} */

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* justify-content: center; */
  /* align-items: center; */
  color: white; /* title color (and children) */
  /* z-index: 1; */
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title a {
  color: #67e8f9;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
  z-index: 1;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #67e8f9;
  border-color: #67e8f9;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container {
    padding: 1rem;
    /* margin: auto; */
  }
  
  @keyframes navburger_ani {
    from {transform: translatey(5vh);
    opacity: 0;}
    to {transform: translatey(0vh);
    opacity: 1;}
  }
  .navdropdown {
    animation-name: navburger_ani;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.26, .13, .24, 1.2);
    animation-fill-mode: forwards;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
