.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* justify-content: center; */
  /* align-items: center; */
  color: black;
  /* title color (and children) */
  /* z-index: 1; */
}

.player_page_stats {
  border: #050606;
  background-color: #eaeaea;

  padding: 0.4rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  font-size: 1.2rem;
}

@media (prefers-color-scheme: dark) {
  .main {
    color: white;
  }

  .player_page_stats {
    border: #323232;
    background-color: #181818;
    padding: 0.4rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    font-size: 1.1rem;
  }
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.title a {
  color: var(--linkColor);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.8rem;
  font-weight: bold;
  z-index: 1;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
}


.leaderboard_style {
  align-items: center;
}



/* 
@keyframes tier_title_ani {
  from {transform: translate(0%);}
  to {transform: translate(100%);}

} */

.tier_title {
  font-family: 'ShinGoProBold';
  margin: 0;
  line-height: 1.35;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  margin: 2rem;
  border-radius: 40px;
}

/* 
.tier_title_background {
  padding: 2rem;
  border: 10px hidden;
  border-radius: 40px;
  background-color: rgba(26, 60, 102, 0.5);
  background-image: radial-gradient(#C1E7FF 5%, transparent 11%),
  radial-gradient(#687D8A 5%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
  animation: tier_title_ani 4s linear infinite;
  animation-timing-function: cubic-bezier(.26, .13, .24, 1.2);
  animation-fill-mode: forwards;
} */

/* .container {
  padding: 0 2rem;
  margin: auto;
  position: relative;
} */

@media (max-width: 1000px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .container {
    padding: 1rem;
    /* margin: auto; */
  }

  @keyframes navburger_ani {
    from {
      transform: translatey(5vh);
      opacity: 0;
    }

    to {
      transform: translatey(0vh);
      opacity: 1;
    }
  }

  .navdropdown {
    animation-name: navburger_ani;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.26, .13, .24, 1.2);
    animation-fill-mode: forwards;
  }

  .navdropdown::after {
    animation-name: navburger_ani;
    animation-duration: 0.5s;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(.26, .13, .24, 1.2);
    animation-fill-mode: forwards;
  }
}

