/* Drop down for normal nav items */
.navdropdown {
    color: #0e0e0e;
    background-color: var(--navbarBgColor);
    font-size: 2rem;
    z-index: 21;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 40px;
    top: 60px;
    right: 5px;
    overflow: hidden;
}

/* Drop down for season picker */
.navdropdown2 {
    color: #0e0e0e;
    background-color: var(--navbarBgColor);
    font-size: 2rem;
    z-index: 21;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
    top: 120px;
    right: 5px;
    overflow: hidden;
}


/* Goes around the entire navbar */
.navbar {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    background-color: var(--navbarBgColor);
    min-width: 100%;
    top: 0;
    font-size: xx-large;
    z-index: 2;
    position: sticky;
    justify-content: space-between;
    align-items: center;
}









/* Goes around the top-left elements only (200cc Lounge) */
.navitemwrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Goes around the top right elements only (leaderboard, records, stats, etc) */
.navitemwrapper2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 40;
}



/* Turns nav item blue when particular season is active/chosen */
.navitemactive {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--navbarLinkColor);
    transition: transform 500ms;
    pointer-events: none; /* when a season is chosen, disable ability to click button again */
}

.navitemactive:hover,
.navitemactive:focus {
    border-color: #eaeaea;
    color: var(--navbarLinkColor);
    pointer-events: none;
    transition: transform 100ms;
    transform: translateY(3px);
}







/* Goes around each item in the desktop navbar */
.navitem {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--textColor);
    transition: transform 500ms;
}

.navitem:hover,
.navitem:focus {
    border-color: #eaeaea;
    color: var(--navbarLinkColor);
    cursor: pointer;
    transition: transform 100ms;
    transform: translateY(3px);
}

.navitem:active {
    color: var(--navbarLinkColor);
}








/* Goes around the hamburger icon only */
.navitem3 {
    padding-right: 1rem;
    color: var(--textColor);
    z-index: 35;
    top: 0px;
    right: 0;
    /* font-family: 'ShinGoProBold'; */
}

.navitem3:hover,
.navitem3:focus,
.navitem3:active {
    border-color: #eaeaea;
    color: var(--navbarLinkColor);
    cursor: pointer;
}








/* Goes around each nav item for mobile */
.navitemmobile {
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--textColor);
}

.navitemmobile:hover,
.navitemmobile:focus,
.navitemmobile:active {
    border-color: #eaeaea;
    color: var(--navbarLinkColor);
    cursor: pointer;
}

.colorinvert {
    /* Invert colors if not in dark mode */
    @media (prefers-color-scheme: light) {
      filter: invert(100%);
    }
  }