.container {
  padding: 0 4rem;
  margin: auto;
  position: relative;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
}






.title a {
    color: var(--linkColor);
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    font-weight: bold;
    z-index: 1;
}

.title,
.description {
    text-align: center;
}




.list {
    text-align: left;
    max-width: 36rem;
    padding: 1rem;
    /* background-color: rgba(8, 8, 8, 0.7); */
    font-size: 1.05rem;
}



.section {
    font-size: 3rem;
    /* padding-top: 5rem; */
    border-radius: 10%;
    margin: 1rem;
    padding: 1rem;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}









.details {
    padding: 1rem;
    max-width: 64rem;
    font-size: 1.1rem;
}

.details a:hover,
.details a:focus,
.details a:active {
    text-decoration: underline;
}
.details a {
    color: var(--linkColor);
    text-decoration: none;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}


.details b {
    color: #6bb96b;
    text-decoration: none;
}

.details penalty {
    color: #bb5151;
    text-decoration: none;
}




@media (max-width: 1000px) {
    .details {
        max-width: 19rem;
    }
    .list {
        max-width: 19rem;
    }
  }




/* .details2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    font-size: 0.8rem;
}

.details2 a:hover,
.details2 a:focus,
.details2 a:active {
    text-decoration: underline;
}
.details2 a {
    color: #67e8f9;
    text-decoration: none;
}


.details2 b {
    color: #97fe97;
    text-decoration: none;
} */