  /*  */
  .table_header_text {
      color: #fafafa;
      cursor: pointer;
      display: flex;
      flex: 1;
      justify-content: center;
      font-weight: bold;
  }

  .leaderboard_style {
      align-items: center;
  }


  .records_table {
      padding: 1rem;
      margin: auto;
      /* this good */
      margin-top: 0;
      /* this good */
      max-width: 100%;
      /* combination of all three gives me whaat i want */
  }


  .tableheader {
      font-weight: 800;
      font-size: large;
  }

  .records_column {
      color: #fafafa;
      cursor: pointer;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: xx-large
  }


  .sticky_header {
    top: 0;
    position: sticky;
  }

  .nothing_header {
    position:relative
  }